.top-body {
    height: 10px;
    display: flex;
    justify-content: space-between;
    padding: 1em;
    align-items: center;
    color: black;
}


.top-right {
    display: flex;
    justify-content: center;
    gap: 5em;
    align-items: center;
}

.top-right .callendar-button {
    display: flex;
    padding: 5px;
    align-items: center;
    background-color: gray;
    width: 12em;
    height: 3em;
    gap: 2em;
    border-radius: 15px 15px;
}

.top-right .download-button {
    color: whitesmoke;
    display: flex;
    padding: 5px;
    align-items: center;
    background-color: black;
    width: 12em;
    height: 3em;
    gap: 2em;
    border-radius: 15px 15px;
    justify-content: center;
}